<!DOCTYPE html>

<html ng-app="app" xmlns:ng-click="http://www.w3.org/1999/xhtml" xmlns:ng-submit="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="index.js"></script>

    <title>Products</title>
</head>
<body>
<div class="row" ng-controller="productController">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">My market</a>
                </li>
                <li class="nav-item" ng-show="!isUserLoggedIn()">
                    <form class="align-middle" ng-submit="tryToAuth()">
                        <div class="input-group input-group-sm">
                            <input id="navLoginField" class="form-control" ng-model="user.username" type="text" aria-describedby="inputGroup-sizing-sm">

                            <input id="navPasswordField" class="form-control" ng-model="user.password" type="password" aria-describedby="inputGroup-sizing-sm">

                            <button id="navLogginSubmit" class="btn btn-outline-marning btn-sm" type="submit">Войти</button>

                        </div>
                    </form>
                </li>
                <li class="nav-item" ng-show="isUserLoggedIn()">
                    <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Выйти</button>
                </li>
            </ul>
        </div>
    </nav>

    <div class="col"></div>
    <div class="col-6">
        <div class="container text-center">
            <h3>Продукты</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Действие</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in ProductList">
                        <td>{{p.id}}</td>
                        <td>{{p.title}}</td>
                        <td>{{p.cost}}</td>
                        <td>
                            <button class="btn btn-danger" ng-click="deleteProduct(p.id)">Удалить</button>
                            <button class="btn btn-primary" ng-click="addProductOnBin(p)">В корзину</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <li class="page-item"><a class="page-link" ng-click="loadProducts(1)" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" ng-click="loadProducts(2)" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" ng-click="loadProducts(3)" href="#">3</a></li>

                </ul>
            </nav>
            <p></p>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <h3>Добавить продукт</h3>
                <form novalidate ng-submit="createProduct()">
                     <input class="form-control" type="text"  placeholder="Название" required ng-model="Product.title">
                    <p></p>
                    <input class="form-control" type="number" placeholder="Цена" required ng-model="Product.cost">
                    <p></p>
                    <button type="submit" class="btn btn-primary">Добавить продукт</button>
                </form>
                    <p></p>
                    <h6 style="color: red" ng-model="msg">{{msg}}</h6>
                </div>
                <div class="col"></div>
                <p></p>
                <h3>Корзина</h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Стоимость</th>
                        <th scope="col">Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="prB in ProductBinList.productsForBin">
                        <td>{{prB.title}}</td>
                        <td>{{prB.pricePerProduct}}</td>
                        <td><button class="btn btn-info" ng-click="changeScore(prB.id,'-')">-</button>
                            {{prB.quantity}}
                            <button class="btn btn-info" ng-click="changeScore(prB.id,'+')">+</button>
                        </td>
                        <td>{{prB.pricePerProduct + ' * ' + prB.quantity + ' = ' + prB.price}}</td>
                        <td>
                            <button class="btn btn-danger" ng-click="deleteProductOnBin(prB.id)">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Итого</td>
                        <td></td>
                        <td>{{ProductBinList.totalPrice}} </td>
                        <td>
                            <button class="btn btn-danger" ng-click="clearCart()">Очистить корзину</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        </div>
    <div class="col">
        <div class="row">
            <div class="col">
        <h5>Фильтр</h5>
            <form novalidate ng-submit="loadProducts()">
                <p> min: <input class="form-control" type="text" id="filterMinPrice" ng-model="filter.min"></p>
                <p> max: <input class="form-control" type="text" id="filterMaxPrice" ng-model="filter.max"></p>
                <p> name: <input class="form-control" type="text" id="filterTitle" ng-model="filter.title"></p>
                <p><button class="btn btn-primary" type="submit">Фильтровать</button> </p>
            </form>
            </div>
            <div class="col"></div>
       </div>
    </div>
</div>

</body>
</html>