<div class="container text-center">
    <p></p>
    <h3>Заказы</h3>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
           <th scope="col">ID</th>
           <th scope="col">Цена</th>
           <th scope="col">Адрес</th>
           <th scope="col">Телефон</th>
            <th scope="col">Время создания</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ord in OrderList">
           <td class="link-primary" ng-click="loadOrderItems(ord.id)">{{ord.id}}</td>
           <td>{{ord.cost}}</td>
           <td>{{ord.address}}</td>
           <td>{{ord.phone}}</td>
            <td>{{ord.createdAt}}</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">

           <li class="page-item"><a class="page-link" ng-click="loadProducts(1)" href="#">1</a></li>
           <li class="page-item"><a class="page-link" ng-click="loadProducts(2)" href="#">2</a></li>
           <li class="page-item"><a class="page-link" ng-click="loadProducts(3)" href="#">3</a></li>
        </ul>
    </nav>
    <p></p>

    <h3>Товары</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Название продукта</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена за штуку</th>
            <th scope="col">Стоимость</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="orIt in OrderItemsList">
            <td>{{orIt.title}}</td>
            <td>{{orIt.quantity}}</td>
            <td>{{orIt.pricePerProduct}}</td>
            <td>{{orIt.costOrder}}</td>
        </tr>
        </tbody>
    </table>


</div>