<div>
    <p></p>
    <h3>Корзина</h3>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="prB in ProductBinList.productsForBin">
            <td>{{prB.title}}</td>
            <td>{{prB.pricePerProduct}}</td>
            <td><button class="btn btn-info" ng-click="changeScore(prB.id,'-')">-</button>
                {{prB.quantity}}
                <button class="btn btn-info" ng-click="changeScore(prB.id,'+')">+</button>
            </td>
            <td>{{prB.pricePerProduct + ' * ' + prB.quantity + ' = ' + prB.price}}</td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProductOnBin(prB.id)">Удалить</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Итого</td>
            <td></td>
            <td>{{ProductBinList.totalPrice}} </td>
            <td>
                <button class="btn btn-danger" ng-click="clearCart()">Очистить корзину</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-primary" ng-click="createOrder(ProductBinList.totalPrice)">Оформить заказ</button>
            </td>
        </tr>

        </tbody>
    </table>

</div>